.panel.panel-default
  .panel-heading
    %h3 Listing categories

  %table.table
    %tr
      %th Name
      %th
      %th
      %th

    - categories.each do |category|
      %tr
        %td= category.name
        %td
          %button.btn.btn-primary= link_to 'Show', category
        %td
          %button.btn.btn-warning= link_to 'Edit', edit_category_path(category)
        %td
          %button.btn.btn-danger= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

%br

%button.btn.btn-default= link_to 'New Category', new_category_path
