.panel.panel-default
  .panel-heading
    %h3 Listing products

  %table.table
    %tr
      %th Title
      %th Description
      %th Price
      %th
      %th
      %th

    - products.each do |product|
      %tr
        %td= product.title
        %td= product.description
        %td= product.price
        %td= button_to 'Show', category_product_path(product.category, product), method: :get, class: 'btn btn-primary'
        %td= button_to 'Edit', edit_category_product_path(product.category, product), method: :get, class: 'btn btn-warning'
        %td= button_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

%br
